h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, dl, dt, dd, 
ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; 
   font-weight: inherit; font-style: inherit; font-size: 100%; font-family: 
   inherit; vertical-align: baseline; }
    /* remember to define focus styles! */ 
    :focus { outline: 0; } body { line-height: 1; color: black; background: white; } 
    ol, ul { list-style: none; }
     /* tables still need 'cellspacing="0"' in the markup */ 
     table { border-collapse: separate; border-spacing: 0; } 
     caption, th, td { text-align: left; font-weight: normal; } 
     blockquote:before, blockquote:after, q:before, q:after { content: ""; } 
     blockquote, q { quotes: "" ""; } 

.container{
   width: 90%;
   height: 100vh;
   margin: 0 auto;
  
}
.time_out, .block-buttom{
  width: 50%;
  height: 100px;
  margin: 15px auto;
  padding: 5px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.timer__oclock{
  font-size: 90px;
  font-weight: 600;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2px;
  position: relative;
   
}

.block-buttom button{
  height: 45px;
  width: 150px;
  border: 2px solid rgb(165, 159, 159);
  border-radius: 8px;
  color: beige;
  background-color: rgb(34, 93, 219);
  font-size: 20px;
  margin-left: 20px;
}

.block-game{
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border: 1px solid #000;
 
}

.start-game, .end-game{
  width: 480px;
  height: 480px;
  border: 2px solid rgb(247, 184, 238);
  box-shadow: 0 0 10px 0;
  background-color: rgb(195, 227, 248);
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;

}
.box{
  background-image: url(./img/chb_kot.jpg);
  background-size: 480px 480px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  box-sizing: border-box;

}
.boxWin{
  width: 120px;
  height: 120px;
  border: 1px solid #000;
  box-sizing: border-box;


}


.box1 {
  background-position: 0px 0px;
 }
  
 .box2 {
  background-position: -120px 0px;
 }

 .box3 {
   background-position: 240px 480px;
 }

 .box4 {
  background-position: 120px 0px;
 }

 .box5 {
   background-position: 0px 360px;
 }
 .box6 {
  background-position: -120px 360px;
 }

 .box7 {
  background-position: -240px 360px;
 }
 .box8 {
   background-position: -360px 360px;

 }
 .box9 {
  background-position: 0px 240px;

 }
 .box10 {
   background-position: 360px 240px;
 }
 .box11 {
  background-position: 240px -240px;

 }
 .box12 {
   background-position: -360px -240px;
 
 }
 .box13 {
   background-position: 0px 120px;
 }

 .box14 {
   background-position: 360px -360px;
 }
 .box15 {
   background-position: 240px -360px;
 }
 .box16 {
   background-position: 120px -360px;
 }

 .modalWindow{
  display: none;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  height: 250px;
  width: 750px;
  background-color: rgb(235, 223, 247);
  border: 2px solid #000;
  border-radius: 10px;
 }
 .box-message{
  display: flex;
  justify-content: center;
  margin: 40px auto;
 }

 .message, .modal-oclock {
  font-size: 30px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .mess-timer{
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
 }

 .block-btn{
  display: flex;
  justify-content: center;
  margin-top: 20px;
 }

 .modal-btn {
  height: 35px;
  width: 100px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  margin: 0 15px;
 }
 .red{
  background-color: rgb(240, 8, 8);
 }

 .green{
  background-color: rgb(31, 143, 31);
 }